node_modules/
.idea/
build/
.vscode/
npm-debug.log
typings/
.publish/
yarn.lock

**/*.js.map

demo/**/*.js
demo/**/*.d.ts
demo/**/*.css

*.js.map
!*.d.ts

!.config/*.js

demo-build

factories
*.ngfactory.ts
*.shim.ts

yarn.lock
yarn-error.log

*.metadata.json